@mixin base-font {
  font-family: $base-font-family;
  font-weight: normal;
}

@mixin heading-font {
  font-family: $heading-font-family;
  letter-spacing: 0;
  font-weight: bold;
  line-height: 1.1;
}

/* Document level adjustments */
html {

  font-size: $base-font-size;

  @include breakpoint($sm-only) {
    font-size: $base-font-size * .8;
  }

  @include breakpoint($md-up) {
    font-size: $base-font-size * .9;
  }

  @include breakpoint($lg-up) {
    font-size: $base-font-size;
  }

  @include breakpoint($xl) {
    font-size: $base-font-size * 1.1;
  }

}

body {
  background-color: $white;
  color: $black;
  font-family: $base-font-family;
  line-height: $base-line-height;
}

/* Modules will scale with document */
/*
.header {
  font-size: 1.5rem;
}
.footer {
  font-size: 0.75rem;
}
.sidebar {
  font-size: 0.85rem;
}
*/

h1, h2, h3, h4, p {
  margin: 0 0 .5rem 0;
  padding: 0;
  text-decoration: none;
  a {
    text-decoration: none;
  }
}

h1, h2, h3, h4 {
  @include heading-font;
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.0rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.0rem;
  font-weight: normal;
  text-transform: uppercase;
}

a,
a:link {
  color: $deep-blue;
}

a:hover {
  color: $pale-blue;
}
