#zone-header {
  @include container(100%);
}

.section-header {

  .zone-header--left {
    @include breakpoint($md-up) {
      @include span(4 of 12);
    }
  }

  .zone-header--right {
    @include breakpoint($md-up) {
      @include span(8 at 5 of 12);
    }
  }

}

.section-header {
  background-color: $white;
  > .section--inner {
    background-color: $white;
  }
  height: 137px;
}
