
.path-frontpage {
  #zone-highlighted {
    background-image: url('../images/homepage-bg-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    // @todo: Add back padding once the featured block is placed.

    > div {
      padding: 90px 125px;
    }
  }
}
#zone-highlighted {
  p, h1, h2, div {
    color: white;
  }
}