.columns.nopadding {
  padding-left: 0;
  padding-right: 0;
}


.zone-highlighted{
  background-image: url($bg_image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  // @todo: Add back padding once the featured block is placed.

  padding: 90px 0;

  #block-pagetitle h1,
  #block-pagetitle h2{
    text-align: center;
    font-weight: 700;
  }

  text-align: center;
}
.zone-highlighted {
  p, h1, h2, div {
    color: white;
  }
}

#block-pagetitle{
  h1{
    text-align: center;
  }
}

#block-mainpagecontent{
  p{
    font-size: 1.2em;
  }
  .statistics-block{
    margin-top: 30px;
    .statistics{
      text-align: center;
      span{
        display: block;
      }
      &.trained .bar{
        background-color: $bc-blue;
      }
      &.attendees .bar{
        background-color: $bc-green;
      }
      &.cost .bar{
        background-color: $bc-orange;
      }

      .number{
        font-size: 4em;
        line-height: 1;
        font-weight: 700;
        margin-bottom: 6px;
      }
      .bar{
        height: 5px;
      }
      .caption{
        margin-top: 7px;
      }
    }
  }
}


#block-homepageeventsataglancespecial{

  .banner-image{
    background-image: url("../images/badcamp-events-at-a-glance.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #222;
    background-position: center center;
    min-height: 200px;

    @include breakpoint(large) {
      background-position: top center;
      min-height: inherit;
    }


    .banner-title{
      text-align: left;
      margin-top: -2.5rem;
      line-height: 2.3;
      @include breakpoint(medium){
        text-align: center;
        margin-top: 0;
      }

      span{
        background: #222;
        color: white;
        font-weight: 700;
        display: block;
        padding: 1rem 2rem;

        @include breakpoint(medium){
          display: inline;
        }
      }
    }
  }


  .item, .accordion-item {
    .title, .accordion-title h3{
      font-weight: 700;
    }

    .block-content{
      p:first-child {
        min-height: 200px;
        @include breakpoint(large) {
          min-height: 115px;
        }
      }
    }
  }

  .main-content{
    .row{
      border-bottom: 1px solid $light-gray;
      .item{
        padding: 2rem 2.5rem 1rem 2.5rem;
        &.item-even{
          border-right: 1px solid $light-gray;
        }
      }
      &:last-child{
        border-bottom: 0px solid;
      }
    }
  }

  .blue-section{
    .title, .accordion-title{
      color: $bc-blue;
    }
    .button{
      background-color: $bc-blue;
    }
  }

  .green-section{
    .title, .accordion-title{
      color: $bc-green;
    }
    .button{
      background-color: $bc-green;
    }
  }

  .orange-section{
    .title, .accordion-title{
      color: $bc-orange;
    }
    .button{
      background-color: $bc-orange;
    }
  }
}