#block-builtby{
  p{
    text-align: right;
  }
}

footer .footer-columns{
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid black;
}

footer{
  margin-top: 4rem;
  .mailchimp-signup-subscribe-form{
    background-color: $bc_orange;

    color: white;
    padding: 1rem 0;

    #mailchimp-signup-subscribe-block-badcamp-newsletter-form{
      margin-top: .8rem;
    }
  }
}