/*
 * Styles for the header.
 * COWBOY THEMING, WATCH OUT!
 */

#block-badcamp2017-branding {
  margin: 30px 0;
}
a.site-logo {
  float:left;
  margin-right: 20px;
}

a.site-name {
  display: block;
  font-family: $header-font-family;
  text-transform: uppercase;
  color: #222222;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2em;
  letter-spacing: 4px;

}
a.site-slogan {
  display: block;
  font-size: 18px;
  color: #222222;
  line-height: 26px;
  letter-spacing: normal;
}

.navigation-wrap {
  position: relative;
  @include breakpoint(large) {
    height: 143px;
  }


  @include breakpoint(large) {
    .menu--main {
      float: right;
      margin-top: 15px;
    }
    .menu--cta-menu {
      position: absolute;
      right: map_get($grid-column-gutter, medium) / 2;
      bottom: -15px;
    }
  }
}