.schedule{
  @extend .session-view;

  .results {
    .session-title {
      color: white;
      padding: 1.75rem 1.5rem;
      margin-bottom: 1rem;
      font-weight: 700;
      > span{
        font-size: .75em;
      }
      &.item-wed {
        background-color: $bc-green;
      }
      &.item-thurs {
        background-color: $bc-orange;
      }
      &.item-fri {
        background-color: $bc-blue;
      }
      &.item-sat {
        background-color: black;
      }
    }
  }
}

.label a{
  color: white;
}