.schedule {
  @extend .session-view;
}

.page-schedule {
  @extend .path-frontpage;

  #block-badcampscheduletext{
    text-align: center;
    h2{
      font-weight: bold;
    }
  }

  .page-title{
    color: white;
    padding: 1.75rem 1.5rem;
    max-width: 500px;
    line-height: 1;
    margin-bottom: 1rem;
    background-color: $bc-orange;
    font-weight: 700;
  }
}

.schedule{
  .results {
    .session-title {
      color: white;
      padding: 1.75rem 1.5rem;
      margin-bottom: 1rem;
      font-weight: 700;
      > span{
        font-size: .75em;
      }
      &.item-wed {
        background-color: $bc-green;
      }
      &.item-thurs {
        background-color: $bc-orange;
      }
      &.item-fri {
        background-color: $bc-blue;
      }
      &.item-sat {
        background-color: black;
      }
    }
  }
}

.label a{
  color: white;
}