div[data-drupal-selector="edit-skill"],
div[data-drupal-selector="edit-session-track"]{
  display: flex;
  flex-flow: row wrap;

  .form-item{
    padding: 0px;

    flex-basis: 50%;
    flex-grow: 1;

    @include breakpoint(large){
      flex-basis: 33%;
    }

    input[type="checkbox"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-progress-appearance: none;
      display: none;
    }

    text-align: center;

    label{
      display: block;
      padding: 1rem;
      color: $bc-grey;
      margin: 0px;
      font-weight: 700;

      @include breakpoint(medium){
        padding: 2rem 0;
      }
    }

    input[type="checkbox"]:checked+label {
      background-color: $bc-orange;
      color: $white;
    }

    border-top: 1px solid #222;
    border-right: 1px solid #222;


    @include breakpoint(medium down) {
      &:nth-child(1),
      &:nth-child(2){
        border-top: 0 solid;
      }

      &:nth-of-type(2n),
      &:last-child{
        border-right: 0 solid;
      }
    }

    @include breakpoint(large) {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3){
        border-top: 0 solid;
      }
      &:nth-of-type(3n),
      &:last-child{
        border-right: 0 solid;
      }
    }

  }
}

.page-sessions-accepted,
.page-sessions {
  @extend .path-frontpage;

  #block-badcampsessiontext{
    text-align: center;
    h2{
      font-weight: bold;
    }
  }

  .page-title{
    color: white;
    padding: 1.75rem 1.5rem;
    max-width: 500px;
    line-height: 1;
    margin-bottom: 1rem;
    background-color: $bc-orange;
    font-weight: 700;
  }

  .results > article{
    border-bottom: 1px solid #222;
    padding: 1rem 0;
    > h3 a{
      color: $bc-orange;
    }

  }
}

.label a{
  color: white;
}
