/**
 * NB: This was left for now, as it was just a copy of how the sponsors block was
 * themed on the splash page.  It will be replaced during the design implementation.
 */
.core-sponsors-block {
  margin: 1em 0;

  footer {
    margin-top:75px;
    padding-top:35px;
    border-top: 1px solid black;
    text-align:right;
  }
}

/**
 * Sponsors Page
 */
.path-sponsors{
  @extend .path-frontpage;

  #block-badcampsponsorstext{
    text-align: center;
    h2{
      font-weight: bold;
    }
  }

  .sponsor-level{
    h3{
      color: white;
      padding: 1.75rem 1.5rem;
      max-width: 400px;
      line-height: 1;
      margin-bottom: 1rem;
    }
    margin-bottom: 3em;
  }

  .core-level {
    h3 {
      background-color: $bc-blue;
    }
  }

  .sponsor{
    margin-bottom: 3em;
  }

  .contrib-level h3{
    background-color: $bc-green;
  }

  .supporting-level h3{
    background-color: $bc-orange;
  }

  .individual-sponsors h3{
    background-color: $bc-grey;
  }
}
