/**
 * Partial for adding standard breakpoint variables
 */
// @import "breakpoint";
// Breakpoint control variables
// $breakpoint-to-ems: true;
@include breakpoint-set('to ems', true); // converts percentage-based media queries to em's

$breakpoint0: 330px;
$breakpoint1: 480px;
$breakpoint2: 768px;
$breakpoint3: 960px;
$breakpoint4: 1200px;

//Breakpoint variables
$xxs-only: 0px ($breakpoint0 - 1);
$xs-only: $breakpoint0 $breakpoint1;

$sm-only: 0px ($breakpoint2 - 1);
$sm: $breakpoint1 ($breakpoint2 - 1);
$sm-up: $breakpoint1;
$sm-down: 0px ($breakpoint2 - 1);

$md: $breakpoint2 ($breakpoint3 - 1);
$md-up: $breakpoint2;
$md-down: 0px ($breakpoint3 - 1);

$lg: $breakpoint3 ($breakpoint4 - 1);
$lg-up: $breakpoint3;
$lg-down: 0px ($breakpoint4 - 1);

$xl: $breakpoint4;
