/*
 * Baseline colors.
 */

$white: #fff;
$black: #000;

$off-white : #f9f9f9;
$lightest-gray : #f4f4f4;
$mid-grey      : #666;
$dark-grey     : #222;

$deep-blue: #1c458e;
$dark-blue: $deep-blue;

$pale-blue: #7793c2;
$paler-blue: #a2b5d5;

$mid-blue: #5775ab;
$green: #267b4d;

$link-color: $deep-blue;
$link-color-hover: desaturate( lighten( $deep-blue, 20% ), 20%);

$link-color-light: $link-color-hover;
$link-color-light-hover: desaturate( lighten( $link-color-light, 20% ), 20%);

/*
 * Interpolated colors.
 */

$toggler-dark: $pale-blue;
$toggler-light: $paler-blue;
$toggler-average: mix($toggler-dark, $pale-blue, 50%);

$mega-menu-blue: $deep-blue;

$main-menu-blue: mix($mega-menu-blue, $toggler-average, 75%);

$menu-extension-color: mix($main-menu-blue, $toggler-average, 60%);




