{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}
<article{{ attributes }}>
  {% if content %}
    <div class="row align-center">
      <div class="columns small-12 medium-4 large-3">
        <div class="thumbnail">
            {{ content.field_profile_photo }}
        </div>
      </div>
      <div class="columns small-12 medium-8 large-9">
          {{ content|without('field_profile_photo') }}
      </div>
    </div>
  {% endif %}
</article>
