
$body-font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;

$grid-row-width: rem-calc(1300px);

$bg_image: '../images/homepage-bg-image.jpg';

$bc-blue: #0071bd;
$bc-green: #6cb229;
$bc-orange: #ed592a;
$bc-grey: #585858;