
$body-font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;

$grid-row-width: 1300px;

$bc-blue: #0071bd;
$bc-green: #6cb229;
$bc-orange: #ed592a;
